@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html, body, p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.right {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

/* sidebar section */
.sidebar {
  background-color: #60a5fa;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dashboard {
  background: url(./icons/view-dashboard.svg) no-repeat left top;
  font-size: 1.96rem;
  padding-left: 1.5em;
}

.dashboard,
li {
  font-weight: bold;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(195deg) brightness(107%) contrast(101%);
}

li {
  margin-bottom: 1em;
  padding-left: 2em;
}

li.home {
  background: url(./icons/home-account.svg) no-repeat left top;
}

li.profile {
  background: url(./icons/card-account-details-outline.svg) no-repeat left top;
}

li.messages {
  background: url(./icons/message-reply.svg) no-repeat left top;
}

li.history {
  background: url(./icons/clock-time-three-outline.svg) no-repeat left top;
}

li.tasks {
  background: url(./icons/note-multiple.svg) no-repeat left top;
}

li.communities {
  background: url(./icons/account-group.svg) no-repeat left top;
}

li.settings {
  background: url(./icons/cog.svg) no-repeat left top;
}

li.support {
  background: url(./icons/help-box.svg) no-repeat left top;
}

li.privacy {
  background: url(./icons/shield-check.svg) no-repeat left top;
}

/* header section */
.header {
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 3em;
  position: relative;
  box-shadow: 0px 15px 10px -15px rgba(17,17,17,0.5);
}

.search-bar {
  align-self: center;
}

.search-bar form input[type="image"] {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.search-bar form input[type="text"] {
  border-radius: 25px;
  border: none;
  background: #eff6ff;
  padding: 0.5em;
  font-size: 1em;
  width: 50%;
}

.user-small {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}

.user-small .bell {
  height: 1.5rem;
  width: 1.5rem;
}

.user-small img.user {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.user-big {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-big img.user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.user-small div,
.user-big div {
  font-weight: bold;
}

.user-info div:first-child {
  font-size: 0.9em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.user-info div:last-child {
  font-size: 1.4em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn button {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #60a5fa;

  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

/* content section */
.content {
  background-color: #eff6ff;
  padding: 2em 2em 4em;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.5em;
}

.content .main {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 0.5em;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5em;
  height: 100%;
}

.card-wrapper .card {
  background-color: #fff;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border-left: 0.5em solid #F0B429;
  box-shadow: 4px 4px 4px rgba(17,17,17,0.3);
}

hr + p,
.card p:first-child {
  font-weight: bold;
}

.card p + p,
.card div + p {
  color: #636363;
}

.card-btn {
  display: flex;
  gap: 1.5em;
  justify-content: flex-end;
  margin-top: 1em;
}

.card-btn button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: #fff ;
}

.card-btn button.star {
  background-image: url(./icons/star-plus-outline.svg);
}

.card-btn button.watch {
  background-image: url(./icons/eye-plus-outline.svg);
}

.card-btn button.share {
  background-image: url(./icons/share-variant-outline.svg);
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.announce .card {
  background-color: #fff;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(17,17,17,0.3);
}

hr {
  margin: 1em 0;
}

.announce .card p {
  margin: 0 0.5em;
}

.trending div + div img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.trending .card {
  background-color: #fff;
  padding: 1.5em;
  box-shadow: 4px 4px 4px rgba(17,17,17,0.3);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.trending .card .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.card .user div p:first-child {
  font-weight: normal;
}