@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.right {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

/* sidebar section */
.sidebar {
  background-color: #60a5fa;
  box-sizing: border-box;
  height: 100vh;
  font-size: 1.5rem;
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dashboard {
  background: url(./icons/view-dashboard.svg) no-repeat left top;
  font-size: 1.96rem;
  padding-left: 1.5em;
}

.dashboard,
li {
  font-weight: bold;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(195deg) brightness(107%) contrast(101%);
}

li {
  margin-bottom: 1em;
  padding-left: 2em;
}

li.home {
  background: url(./icons/home-account.svg) no-repeat left top;
}

li.profile {
  background: url(./icons/card-account-details-outline.svg) no-repeat left top;
}

li.messages {
  background: url(./icons/message-reply.svg) no-repeat left top;
}

li.history {
  background: url(./icons/clock-time-three-outline.svg) no-repeat left top;
}

li.tasks {
  background: url(./icons/note-multiple.svg) no-repeat left top;
}

li.communities {
  background: url(./icons/account-group.svg) no-repeat left top;
}

li.settings {
  background: url(./icons/cog.svg) no-repeat left top;
}

li.support {
  background: url(./icons/help-box.svg) no-repeat left top;
}

li.privacy {
  background: url(./icons/shield-check.svg) no-repeat left top;
}

/* header section */
.header {
  background-color: #fff;
}

.search-bar form input[type="image"] {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.user-small {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.user-small .bell {
  height: 1.5rem;
  width: 1.5rem;
}

.user-small img.user {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.user-big {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-big img.user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.user-small div,
.user-big div {
  font-weight: bold;
}

.user-info div:first-child {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.user-info div:last-child {
  font-size: 1.4em;
}

/* content section */
.content {
  background-color: #eff6ff;
}